
QuanLyQuanCafe.v12.suo
QuanLyQuanCafe/bin/Debug/QuanLyQuanCafe.exe
QuanLyQuanCafe/bin/Debug/QuanLyQuanCafe.pdb
QuanLyQuanCafe/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuanLyQuanCafe/obj/Debug/QuanLyQuanCafe.csproj.FileListAbsolute.txt
QuanLyQuanCafe/obj/Debug/QuanLyQuanCafe.csproj.GenerateResource.Cache
QuanLyQuanCafe/obj/Debug/QuanLyQuanCafe.exe
QuanLyQuanCafe/obj/Debug/QuanLyQuanCafe.pdb
